*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

html {
  height: 100vh;
  background-image: url('./assets/images/Background2.png');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}

select {
  appearance: none;
  border-radius: 1px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  text-align-last:center;
}

.App > footer {
  position: absolute;
  font-weight: bold;
  color: white;
  right: 1rem;
  padding: 5px;
  font-family: 'Anton', sans-serif;

}

.App {
  margin: 1rem;
}

button {
  border: 1px black solid;
}

li {
  list-style-type: none
}

h1 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: rgb(187,117,28);
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}



li > a {
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

span {
  padding-right: 1rem;
}

#logo {
  width: 100px;
}


/* --MAIN CONTAINER-- */
.main-container {
  padding: 0 .5rem;
  height: 75.5vh;
  min-height: 75.5vh;
  background-color: white;
  margin-bottom: 1rem;
  overflow: scroll;
}

.main-content > p {
  font-family: 'Amiko', sans-serif;
}

/* --NAV BAR-- */

.nav-bar{
  display: flex;
  justify-content: space-between;
}

.nav-bar > a {
  width: 3.5rem;
}

.nav-bar > h2 {
  width: 7rem;
  font-size: 2.5vh;
  color: rgb(255,250,246);
  text-shadow: 3px 2px rgb(187,117,28);
}

.hamburger-menu {
  width: 100%;
}

/* --menu-list-- */

.menu-list {
  height: 90vh;
  background-color: black;
  color: white;
  font-size: 4vh;
  line-height: 9vh;
  text-align: center;
  font-weight: bold;
}

nav > ul {
  padding: 4rem 0;
}

.menu-list > footer {
  font-size: 3vh;
  text-align: center;
  line-height: 2vh;
  bottom: 1.8rem;
  position: fixed;
  width: 90%;
  padding-bottom: 1rem;
}

#isNotBrowser > a > img {
  width: 9.5vh;
}

#isBrowser {
  display:none;
}


/* -----------POLICY TRACKER----------- */
.main-title > section > h1 {
  margin-bottom: 1rem;
}

.policyButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  align-items: baseline;
  justify-content: center;
  padding: 0;
}

.policyButtons > p {
  /* justify-content: flex-start; */
  display: none;
}

.policyOption {
  background-color: rgb(230,150,83);
  padding: 4%;
  font-size: 12px;
  text-transform: uppercase;
  width: 15rem;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  color: white;
  word-break: break-word;
  white-space: pre-wrap;
}

.policyOption:nth-of-type(2){
  background-color: rgb(187,117,28);
  margin-top: 3%;
}

.type-section > p {
  text-transform: uppercase;
  color: rgb(187,117,28);
  font-weight: bold;
  padding: 20px 5px;
}

#type {
  color: #4A4A4A;
  text-transform: capitalize;
  padding-left: 5px;
}

#policy-content > ul {
  padding-left: 20px;
}

#policy-content {
  overflow-y: scroll;
  height: 40vh;
}

.item > p {
  font-family: 'Amiko', sans-serif;
}

.item-title {
  text-transform: uppercase;
  color: #214451;
  word-spacing: 6px;
  font-family: 'Anton', sans-serif;
  text-align: left;
}



/* -------- RESPONSIVE TO TABLET --------- */

@media (min-width: 768px) and (max-width: 1023px){
  .nav-bar > h2 {
    width: 18rem;
    font-size: 3.5vh;
  }

  .main-title > section > h1 {
    font-size: 3rem;
    margin-bottom: 2rem
  }

  .item-title {
    font-size: 1.7rem;
  }

  .type-section > p {
    font-size: 1.5rem;
  }

  .main-container {
    height: 73vh;
    padding: 0 5%;
    margin-bottom: 0;
  }

  .main-content > p {
    font-size: 3vh;
  }

  .main-content > h1 {
    font-size: 4vh;
    font-weight: 800;
  }

  .navbar > a {
    margin: 3rem;
  }

  footer > span {
    font-size: 2.7vh;
  }

  .policyButtons {
    justify-content: center;
  }

  .policyOption:nth-of-type(2){
    margin-left: 2rem;
    margin-top: 0;
  }

  #policy-content {
    font-size: 3vh;
  }

  .policyOption {
    font-size: 12px;
  }

  #logo {
    width: 6rem;
  }
}



/* -------- RESPONSIVE TO BROWSER --------- */


@media (min-width: 1024px) {

  a:focus {
    text-decoration: underline solid white;
  }

  .App {
    margin: 0;
  }

  .nav-bar {
    flex-direction: column;
    width: 300px;
  }

  #logo {
    width: 15vw;
  }

  .menu-list {
    margin-top: 52%;
    background-color: inherit;
    height: 70%;
    line-height: 3.5rem;
    font-weight: 600;
    font-size: 8rem;
  }

  nav > ul {
    padding: 0;
    font-size: 5vw;
    text-align: left!important;
    width: 24vw;
  }

  li > a {
    text-transform: uppercase;
    font-size: 3vh;
    color:rgb(32,68,81);
    line-height: 1px;
    /* text-shadow: 0 0 2px; */
  }

  select {
    appearance: none;
    border-radius: 1px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    text-align-last:center;
  }


  .navbar-maincontainer {
    display:flex;
    margin: 50px;
    margin-bottom: 0;
    justify-content: space-around;
  }

  .main-content {
    height: 80vh;
    font-size: 3vh;
    /* padding: 6vh; */
  }

  .type-section > p {
    padding: 0;
    font-size: 20px;
  }

  .main-content > p {
    color: rgb(115,115,115);
  }

  .main-container {
    width: 90%;
    max-height: 88vh;
    padding: 3vh;
    height: 90vw;
    margin-top: 1%;
  }

  .main-content > h1, .main-title > section > h1 {
    font-size: 4vh;
    margin: 0;
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
  }

  footer {
    font-size: 2vh;
    color:rgb(32,68,81)!important;
    margin-left: 4%;
    bottom: 0;
    position: absolute;
    left: 0;
  }

  #policy-content {
    padding: 3vh 1vh;
    text-align: justify;
    border-right: 5px solid rgb(32,68,81);
    height: 70vh;
  }

  #policy-content > ul {
    padding: 0;
  }

  .buttons-and-items {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
  }

  .policyButtons > p {
    /* justify-content: flex-start; */
    display: none;
  }

  .policyOption {
    background-color: rgb(230,150,83);
    /* padding: 5%; */
    font-size: 1.3vh;
    width: 24vh;
    text-transform: uppercase;
    height: 80px;
    margin-left: 3vw;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: white;
    word-break: break-word;
    white-space: pre-wrap;
  }

  .policyOption:nth-of-type(2){
    background-color: rgb(187,117,28);
    margin-top: 2rem;
  }

  .item {
    width: 85%;
    padding-bottom: 0.5rem;
  }

  .item > p {
    font-size: large;
    font-family: 'Amiko', sans-serif;
    color: rgb(115,115,115);
    border-bottom: 3px solid rgba(115,115,115, .6);
    padding-bottom: 25px;
    line-height: 1.7;
  }

  .item-title {
    /* color: rgb(230,153,89); */
    color: #214451;
    font-size: larger;
    letter-spacing: 1px;
    font-weight: 800;
    word-spacing: -2px;
    font-family: 'Anton', sans-serif;
    word-break: break-word;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.4;
  }

  .policyButtons {
    flex-direction: column;
  }

  #isBrowser {
    display: block;
    height: 100%;
  }

  #isNotBrowser, #footerBrowser {
    display: none;
  }

  .App > footer {
    padding-bottom: 3.5vh;
    font-size: 20px;
  }
}

/* @media (min-width: 2024px) {} */
